{% extends "base.html" %}
{% block title %} {{ pofile.firstname}} {{ profile.last_name}} @{{ profile.username}} {% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ profile.first_name}} {{ profile.last_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                        @{{ profile.username}}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: 10000000 <br />
                                            Подписан: 1000
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                Записей: {{profile.my_post}}
                                            </div>
                                    </li>
                            </ul>
                            <li class="list-group-item">
                                {% if following %}
                                <a class="btn btn-lg btn-light" 
                                        href="{% url 'profile_unfollow' profile.username %}" role="button"> 
                                        Отписаться 
                                </a> 
                                {% else %}
                                <a class="btn btn-lg btn-primary" 
                                        href="{% url 'profile_follow' profile.username %}" role="button">
                                        Подписаться 
                                </a>
                                {% endif %}
                            </li>
                    </div>
            </div>

            <div class="col-md-9">            

                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}<!-- Конец блока с отдельным постом --> 
                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}